<style>
  body{
    background-color: #364150
  }
</style>
<div class="login-wrapper">
  <div class="login-logo">
    <img src="assets/common/logo-with-text-big.png" alt="健康帮手">
  </div>
  <form name="loginForm" ng-submit="login.login(login.credentials)" novalidate>
    <div class="form-group">
      <label for="mobile">用户名:</label>
      <input class="form-control" type="text" id="mobile" ng-model="login.credentials.mobile" placeholder="请输入用户名">
    </div>
    <div class="form-group">
      <label for="password">密码:</label>
      <input class="form-control" type="password" id="password" ng-model="login.credentials.password" placeholder="请输入密码">
    </div>
    <br>
    <button class="btn btn-primary btn-block" type="submit">登录</button>
  </form>
</div>
