h2 {{vm.title}}
form.form-horizontal
  .form-group
    label#title.control-label.col-md-4.required 疾病名称
    .col-md-4
      input#title.form-control(type="text" ng-model="vm.formData.title" placeholder="疾病名称" required)

  .form-group
    label.control-label.col-md-4 疾病标题
    .col-md-4
      .tags-container(ng-model="vm.link" ng-click="vm.openModal('link')") 
        span.tags-container-placeholder(ng-hide="vm.link.length") 选择疾病标题
        span.label.label-primary(ng-repeat="i in vm.link") {{i.title}}
  
  .form-group
    label.control-label.col-md-4 医生
    .col-md-4
      .tags-container(del="vm.doctor" ng-click="vm.openModal('therapies', 'doctor')") 
        span.tags-container-placeholder(ng-hide="vm.doctor") 选择医生
        span.label.label-primary(ng-repeat="i in vm.doctor") {{i.title}}
              
  .form-group
    label.control-label.col-md-4 药品
    .col-md-4
      .tags-container(ng-model="vm.medicine" ng-click="vm.openModal('therapies', 'medicine')") 
        span.tags-container-placeholder(ng-hide="vm.medicine") 选择药品
        span.label.label-primary(ng-repeat="i in vm.medicine") {{i.title}}
                    
  .form-group
    label.control-label.col-md-4 理疗
    .col-md-4
      .tags-container(ng-model="vm.physiotherapy" ng-click="vm.openModal('therapies', 'physiotherapy')") 
        span.tags-container-placeholder(ng-hide="vm.physiotherapy") 选择理疗
        span.label.label-primary(ng-repeat="i in vm.physiotherapy") {{i.title}}
                          
  .form-group
    label.control-label.col-md-4 营养健康品
    .col-md-4
      .tags-container(ng-model="vm.nourishment" ng-click="vm.openModal('therapies', 'nourishment')") 
        span.tags-container-placeholder(ng-hide="vm.nourishment") 选择营养健康品
        span.label.label-primary(ng-repeat="i in vm.nourishment") {{i.title}}
        
  .form-group
    label.control-label.col-md-4 健康果蔬
    .col-md-4
      .tags-container(ng-model="vm.fruit" ng-click="vm.openModal('therapies', 'fruit')") 
        span.tags-container-placeholder(ng-hide="vm.fruit") 选择健康果蔬
        span.label.label-primary(ng-repeat="i in vm.fruit") {{i.title}}

  .form-group
    label#treat.control-label.col-md-4 可能的治疗方法
    .col-md-4
      textarea#treat.form-control(rows="5" ng-model="vm.formData.treat" placeholder="可能的治疗方法")
      span.help-block 可能的治疗方法，每行一个。支持：药店/机构名、医生/健康天使手机号、药品名、机构套餐名
          
  .form-group
    label#description.control-label.col-md-4 疾病描述
    .col-md-4
      textarea#description.form-control(rows="5" ng-model="vm.formData.description" placeholder="疾病描述")
          
  .form-group
    label#attention.control-label.col-md-4 注意事项
    .col-md-4
      textarea#attention.form-control(rows="5" ng-model="vm.formData.attention" placeholder="注意事项")
              
  .form-group
    label#cure.control-label.col-md-4 治疗
    .col-md-4
      textarea#cure.form-control(rows="5" ng-model="vm.formData.cure" placeholder="治疗")
      
  .form-group
    label#checkups.control-label.col-md-4 检查
    .col-md-4
      textarea#checkups.form-control(rows="5" ng-model="vm.formData.checkups" placeholder="检查")
    
  .form-group
    label#symptoms.control-label.col-md-4 症状
    .col-md-4
      textarea#symptoms.form-control(rows="5" ng-model="vm.formData.symptoms" placeholder="症状")
    
  .form-group
    label#con_symptoms.control-label.col-md-4 并发症状
    .col-md-4
      textarea#con_symptoms.form-control(rows="5" ng-model="vm.formData.con_symptoms" placeholder="并发症状")
          
  .form-group
    label#diagnosis.control-label.col-md-4 诊断
    .col-md-4
      textarea#diagnosis.form-control(rows="5" ng-model="vm.formData.diagnosis" placeholder="诊断")
              
  .form-group
    label#cause.control-label.col-md-4 影响
    .col-md-4
      textarea#cause.form-control(rows="5" ng-model="vm.formData.cause" placeholder="影响")
  
  .form-group
    label#prevention.control-label.col-md-4 预防和预后
    .col-md-4
      textarea#prevention.form-control(rows="5" ng-model="vm.formData.prevention" placeholder="预防和预后")
        
  .form-group
    .col-sm-offset-4.col-sm-8
      input(type="hidden" ng-model="vm.formData.id")
      button.btn.btn-default(type="button" onclick="javascript:;window.history.go(-1);") 取消
      button.btn.btn-success(type="button" ng-click="vm.save()") 保存
      
script(type="text/ng-template" id="modal.html")
  .modal-header
    button.close(type="button" ng-click="cancel()"): span &times;
    h4.modal-title {{title}}
  .modal-body
    <grid grid="grid">
