header
  position fixed
  top 0
  left 0
  right 0
  z-index 900
  padding-left: 260px;
  background-color #fff
  border-bottom 1px solid $navbar-default-border
  box-shadow 0 1px 1px $navbar-default-border
  .navbar
    margin-bottom 0