<div class="content">
  <alert ng-repeat="alert in demo.alerts" type="{{alert.type}}" close="demo.closeAlert($index)">{{alert.msg}}</alert>
  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">生产信息</h3>
        </div>
        <div class="panel-body">
          生产信息，生产信息，生产信息，生产信息<br>
          生产信息，生产信息，生产信息，生产信息<br>
          生产信息，生产信息，生产信息，生产信息
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-success">
        <div class="panel-heading">
          <h3 class="panel-title">生产信息</h3>
        </div>
        <div class="panel-body">
          生产信息，生产信息，生产信息，生产信息
          <button type="button" class="btn btn-default" ng-click="demo.open()">Open me!</button>
        </div>
      </div>
    </div>
  </div>
  <tabset>
    <tab heading="日帐单">
      <table class="table table-hover">
        <caption>Optional table caption.</caption>
        <thead>
          <tr>
            <th>#</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Username</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          <iframe id="tmp_downloadhelper_iframe" style="display: none;"></iframe></tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
          </tr>
        </tbody>
      </table>
      <div class="text-right">
        <pagination total-items="demo.totalItems" ng-model="demo.currentPage" max-size="5" rotate="false" previous-text="前页" next-text="后页" ng-change="demo.pageChanged()"></pagination>
      </div>
    </tab>
    <tab heading="月帐单">
    </tab>
  </tabset>
</div>

<script type="text/ng-template" id="myModalContent.html">
    <div class="modal-header">
        <h3 class="modal-title">I'm a modal!</h3>
    </div>
    <div class="modal-body">
        DEMO
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    </div>
</script>