h2 {{vm.title}}
.content
  .panel.panel-danger
    .panel-heading 订单详情
    ul.list-group
      li.list-group-item 订单号：{{data.id}}
      li.list-group-item 商品类型：{{data.type}}
      li.list-group-item 用户ID：{{data.user_id}}
      li.list-group-item 商店ID：{{data.shop_id}}
      li.list-group-item 姓名：{{data.name}}
      li.list-group-item 电话：{{data.tel}}
      li.list-group-item 地址：{{data.address}}
      li.list-group-item 支付方式：{{data.pay}}
      li.list-group-item 发货方式：{{data.delivery}}
      li.list-group-item 发货时间：{{data.ship_dateline * 1000 | date:'yyyy-MM-dd HH:mm'}}
      li.list-group-item 下单时间：{{data.created_at * 1000 | date:'yyyy-MM-dd HH:mm'}}
      li.list-group-item 数量：{{data.count}}
      li.list-group-item 订单总额：{{data.price}}
      li.list-group-item 运费：{{data.ship_fee}}
      li.list-group-item 订单状态：{{data.status}}
      li.list-group-item 接单客服ID：{{data.service_user_id}}
      li.list-group-item 发货客服ID：{{data.ship_user_id}}
      li.list-group-item 积分：{{data.bonus}}
  .panel.panel-success(ng-if="data.shop")
    .panel-heading 店铺详情
    .panel-body
      table.table
        thead
          tr
            th ID
            th 图片
            th 名称
            th 地址
        tbody
          tr
            td {{data.shop.id}}
            td
              a(href="{{data.shop.pic | img}}")
                img(width="30" src="{{data.shop.pic | img}}" alt="{{data.shop.title}}")
            td {{data.shop.title}}
            td {{data.shop.address}}
  .panel.panel-success(ng-if="data.medicine")
    .panel-heading 商品详情
    .panel-body
      table.table
        thead
          tr
            th ID
            th 图片
            th 名称
            th 规格
            th 生产产商
            th 注册号
            th 类型
            th 价格
        tbody
          tr
          td {{data.medicine.id}}
          td
            a(href="{{data.medicine.pic | img}}")
              img(width="30" src="{{data.medicine.pic | img}}" alt="{{data.medicine.title}}") 
          td {{data.medicine.title}}
          td {{data.medicine.spec}}
          td {{data.medicine.company}}
          td {{data.medicine.register_number}}
          td {{data.medicine.type}}
          td {{data.medicine.price}}
