/**
 *  If you want to override some bootstrap variables, you have to change values here.
 *  The list of variables are listed here bower_components/bootstrap-stylus/bootstrap/variables.styl
 */
$font-family-sans-serif = "Helvetica Neue",Helvetica,"Microsoft Yahei",Arial,Verdana,"Hiragino Sans GB",STHeiti,sans-serif
$icon-font-path = "../../bower_components/bootstrap-stylus/fonts/"
$border-radius-base  =      3px
$border-radius-large =      5px
$border-radius-small =      2px
$brand-primary       =      #0dbf2d
$link-color          =      $brand-primary
$grid-gutter-width   =      30px

// navs
$nav-link-hover-bg = #f4f5f9
$nav-tags-border-color = $nav-tabs-border-color
$nav-tags-link-hover-border-color = $jkbs-primary
$nav-tags-active-link-hover-bg = $nav-tabs-active-link-hover-bg

// pagination
$pagination-color = $text-color
$pagination-hover-color = $gray-light

// 自定义
$jkbs-primary = #0dbf2d
$jsbs-border = solid 1px #e5e5e5
$jkbs-box-shadow = 0 0 1px 1px #eee

/**
 *  Do not remove the comments below. It's the markers used by wiredep to inject
 *  stylus dependencies when defined in the bower.json of your dependencies
 */
// bower:styl
// endbower

// 重置样式
body
  background-color #e7e8eb

// 重置按钮样式
.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus
  outline 0

// 自定标签页样式
.nav-tags
  border-bottom 1px solid $nav-tags-border-color
  > li
    float left
    margin-bottom -1px
    > a
      color $gray-light
      line-height $line-height-base
      border-bottom 3px solid transparent
      border-radius $border-radius-base $border-radius-base 0 0
      &:hover
        border-color $nav-tags-border-color
    &.active > a
      &,
      &:hover,
      &:focus
        color $nav-tags-link-hover-border-color
        background-color $nav-tags-active-link-hover-bg
        border-bottom 3px solid $nav-tags-link-hover-border-color
        cursor default

// 重置分页样式
.pagination
  a
    color $text-color

// 重置模态框样式
.modal-content
  border-radius $border-radius-small
  box-shadow none

// 重置警告框样式
.alert
  .fa
    font-size 1.3em
    margin-right 5px
    vertical-align -1px

// 树状图
.tree
  .tree-hover-trigger
    .tree-hover-box
      display none
      a
        margin-left 5px
    &:hover
      .tree-hover-box
        display inline
  ul
    list-style none
    padding-left 0
    li
      cursor pointer
      padding-left 1.3em

// 自定样式
.wrapper
  .container
    background-color #fff
    border-radius $border-radius-base
    border $jsbs-border
    margin-bottom 50px

.main
  margin-left -15px
  margin-right -15px
  border-left $jsbs-border
  padding 20px 15px 50px
  min-height 915px
  h2
    font-size 16px
    margin-bottom 30px
  > *
    -webkit-animation-duration 0.5s
    animation-duration 0.5s
    -webkit-animation-fill-mode both
    animation-fill-mode both
    -webkit-animation-name fadeSlideUpIn
    animation-name fadeSlideUpIn
    @-webkit-keyframes fadeSlideUpIn
      from
        -webkit-transform translate3d(0, 30%, 0)
        transform translate3d(0, 30%, 0)
        opacity 0

      100%
        -webkit-transform translate3d(0, 0, 0)
        transform translate3d(0, 0, 0)
        opacity 1

// table
.table-btns
  width 100px

// loading
.loading
  position absolute
  left 50%
  top 50%
  margin-left -15px
  margin-top -15px

// 表单
label
  font-weight normal
.required
  &:after
    content '*'
    color red
    margin-right -5px

.input-cover
  position absolute
  margin-top -34px
  width 90.7%

.help-block
  color #999
  font-size 12px

// login
.login-wrapper
  width 100%
  min-height 800px
  padding-top 80px
  overflow hidden
  background-color #364150
  .login-logo
    text-align center
    margin-bottom 50px
  form
    width 400px
    padding 30px
    margin 0 auto
    border-radius $border-radius-base
    background-color #fff

// .tags-container
.tags-container
  display block
  width 100%
  padding 6px 12px 10px
  font-size 14px
  line-height 1.428571429
  color #555
  border 1px solid #ccc
  border-radius 3px
  box-shadow inset 0 1px 1px rgba(0,0,0,0.075)
  .tags-container-placeholder
    color #999
  .label
    display inline-block
  .label + .label
    margin-left 5px

/**
 *  Do not remove the comments below. It's the markers used by gulp-inject to inject
 *  all your stylus files automatically
 */
// injector
// endinjector
