.grid-operation
  clearfix()
  margin-top 15px
  margin-bottom 15px

  .grid-buttons
    float left

  .grid-search
    width 230px
    float right

.grid-list
  position relative
  margin 30px -30px
  min-height 200px

.grid-pagination
  text-align right

.grid-loading, .grid-nodata
  position absolute
  top 0
  width 100%
  height 200px
  text-align center


.grid-loading
  font-size 32px
  padding-top 80px

.grid-nodata
  padding-top 90px
