.j-header
  background-color #fff
  border-top 4px solid $jkbs-primary

.j-navbar
  .j-navbar-brand
    padding 10px 15px
  .j-navbar-portrait
    line-height 1
    font-size 16px
    color $gray-light
    img
      vertical-align -9px
      margin-right 10px
  .breadcrumb
    background-color #fff
    margin-bottom 0
    padding 15px
