
<form action="" class="form-horizontal" ng-controller="DoctorNewController">
  <div class="form-group" ng-hide="state=='edit'">
    <label class="control-label col-md-3 required">手机号</label>
    <div class="col-md-4">
      <input name="mobile" id="mobile" type="text" class="form-control" required ng-model="vm.formData.mobile">
      <span class="help-block">医生/专家手机号，必须已经是注册用户</span>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-md-3">医生类别</label>
    <div class="col-md-4">
      <select class="form-control" name="type" required ng-model="vm.formData.type" ng-options="i as i for i in doctor_type_list">
        <option value="">--选择类别--</option>
      </select>
      <span class="help-block">医生类别</span>
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-md-3">职称</label>
    <div class="col-md-4">
      <input name="title" id="title" type="text" class="form-control" ng-model="vm.formData.title">
      <span class="help-block">职称</span>
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-md-3">医院</label>
    <div class="col-md-4">
      <input name="hospital" id="hospital" type="text" class="form-control" ng-model="vm.formData.hospital">
      <span class="help-block">医院</span>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-md-3">科室</label>
    <div class="col-md-4">
      <select class="form-control" name="department" required ng-model="vm.formData.department" ng-options="i.title as i.text for i in hospital_department_list">
        <option value="">--选择科室--</option>
      </select>
      <span class="help-block">医生科室</span>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-md-3">个性签名</label>
    <div class="col-md-4">
      <input name="sign" id="sign" type="text" class="form-control" ng-model="vm.formData.sign">
      <span class="help-block">个性签名</span>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-md-3">诊所服务</label>
    <div class="col-md-6">
      <textarea name="description" id="description" class="form-control" rows="10" ng-model="vm.formData.description"></textarea>
      <span class="help-block">简介</span>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-md-3">咨询费用</label>
    <div class="col-md-4">
      <input name="consultation_fee" id="consultation_fee" type="text" class="form-control" ng-model="vm.formData.consultation_fee">
      <span class="help-block">咨询费用</span>
    </div>
  </div>
  <div class="form-group" ng-init="vm.formData.onsale = vm.formData.onsale == null ? 0 : vm.formData.onsale">
    <label class="control-label col-md-3">是否义诊
      <span class="required">* </span>
    </label>
    <div class="col-md-4">
      <div class="radio-list">
        <label class="radio-inline">
          <input type="radio" name="onsale" ng-model="vm.formData.onsale" value="1">义诊
        </label>
        <label class="radio-inline">
          <input type="radio" name="onsale" ng-model="vm.formData.onsale" value="0">不义诊
        </label>
      </div>
      <span class="help-block">是否义诊，义诊时全部收费1元，类似促销</span>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-md-3">用户评价</label>
    <div class="col-md-4">
      <input name="star" id="star" type="text" class="form-control" ng-model="vm.formData.star">
      <span class="help-block">用户评价星级，1-5</span>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-md-3">身份证图片
      <span class="required">* </span>
    </label>
    <div class="col-md-4">
      <input id="pic1" type="file" class="form-control" />
      <span class="help-block">身份证图片</span>
      <div>
        <img ng-src="{{vm.formData.pic1?('http://img.jkbsimg.com/' + vm.formData.pic1):null}}" id="pic1_preview" style="width:100px;height:100px;" ng-hide="!vm.formData.pic1">
      </div>
      <input type="text" name="pic1" id="pic1_hd" ng-model="vm.formData.pic1" style="display: none;">
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-md-3">医师职业证盖章页图片
      <span class="required">* </span>
    </label>
    <div class="col-md-4">
      <input id="pic2" type="file" class="form-control" />
      <span class="help-block">医师职业证盖章页图片</span>
      <div>
        <img ng-src="{{vm.formData.pic2?('http://img.jkbsimg.com/' + vm.formData.pic2):null}}" id="pic2_preview" style="width:100px;height:100px;" ng-hide="!vm.formData.pic2">
      </div>
      <input type="text" name="pic2" id="pic2_hd" ng-model="vm.formData.pic2" style="display: none;">
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-md-3">医师职称证
      <span class="required">* </span>
    </label>
    <div class="col-md-4">
      <input id="pic3" type="file" class="form-control" />
      <span class="help-block">身份证图片</span>
      <div>
        <img ng-src="{{vm.formData.pic3?('http://img.jkbsimg.com/' + vm.formData.pic3):null}}" id="pic3_preview" style="width:100px;height:100px;" ng-hide="!vm.formData.pic3">
      </div>
      <input type="text" name="pic3" id="pic3_hd" ng-model="vm.formData.pic3" style="display: none;">
    </div>
  </div>
  <div class="form-group" ng-init="vm.formData.status = vm.formData.status == null ? 1 : vm.formData.status">
    <label class="control-label col-md-3">状态
      <span class="required">* </span>
    </label>
    <div class="col-md-4">
      <div class="radio-list">
        <label class="radio-inline">
          <input type="radio" name="status" ng-model="vm.formData.status" value="1">正常
        </label>
        <label class="radio-inline">
          <input type="radio" name="status" ng-model="vm.formData.status" value="0">未审核
        </label>
      </div>
      <span class="help-block">是否审核正常</span>
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-offset-3 col-md-9">
      <input type="hidden" name="id" ng-model="vm.formData.id">
      <button type="button" class="btn btn-default" onclick="javascript:;window.history.go(-1);">取消返回</button>
      <button type="button" class="btn btn-success" ng-click="form_save()">提交保存</button>
    </div>
  </div>
</form>
<!-- END FORM-->
