<div class="sidebar-yg">
  <ul class="sidebar-nav">
    <li ng-repeat="item in vm.menu">
      <a href="javascript:void(0);" ng-class="{'in': !vm.isCollapsed[$index]}" ng-click="vm.toggle($index)"><i class="glyphicon glyphicon-{{item.icon}}"></i>{{item.value}}</a>
      <div collapse="vm.isCollapsed[$index]">
        <a href="{{sub.href}}" ng-repeat="sub in item.subs">{{sub.value}}</a>
      </div>
    </li>
  </ul>
</div>