.sidebar-yg
  position fixed
  left 0
  top 0
  width 260px
  height 100%
  z-index 1000
  background-color #272b2e
  .sidebar-nav
    list-style none
    padding 0
    li
      position relative
      a
        display block
        padding 15px 15px 15px 50px
        font-weight 700
        line-height 1
        color $gray-light
        text-decoration none
        &:hover
          background-color $gray
          color #fff
      > a
        &:after
          float right;
          content ">"
      > a.in
        &:after
          content "<"
      .glyphicon
        position absolute
        left 15px
        top 14px