h2 {{vm.title}}
form.form-horizontal
  .form-group
    label.control-label.col-md-4.required(for="password") 原密码
    .col-md-4
      input#password.form-control(type="password" ng-model="vm.password" required placeholder="原密码" autocomplete="off")
      
  .form-group
    label.control-label.col-md-4.required(for="newPassword") 新密码
    .col-md-4
      input#newPassword.form-control(type="password" ng-model="vm.password_new" required placeholder="新密码" autocomplete="off")
  
  .form-group
    label.control-label.col-md-4.required(for="confirmPassword") 确认新密码
    .col-md-4
      input#confirmPassword.form-control(type="password" ng-model="vm.confirmPassword" ng-blur="vm.confirm()" required placeholder="确认新密码" autocomplete="off")
  
  .form-group
    .col-sm-offset-4.col-sm-8
      button.btn.btn-default(type="button" onclick="javascript:;window.history.go(-1);") 取消
      button.btn.btn-success(type="button" ng-click="vm.save()") 保存
