form.form-horizontal
  .form-group
    label.control-label.col-md-4.required(for="mobile") 手机号
    .col-md-4
      input#mobile.form-control(type="text" ng-model="vm.formData.mobile" required placeholder="手机号")
      
  .form-group
    label.control-label.col-md-4.required(for="name") 姓名
    .col-md-4
      input#name.form-control(type="text" ng-model="vm.formData.name" required placeholder="姓名" autocomplete="false")

  .form-group
    label.control-label.col-md-4.required(for="password") 新密码
    .col-md-4
      input#password.form-control(type="password" ng-model="vm.formData.password" required placeholder="密码" autocomplete="false")
      span.help-block(ng-show="vm.formData.mobile") 不填则不修改密码

  .form-group
    label.control-label.col-md-4.required(for="pic") 头像
    .col-md-4
      .form-control.upload-box(ngf-select="vm.upload($file, vm.formData, 'pic')" ngf-drop="vm.upload($file)" ngf-drag-over-class="'dragover'" ngf-pattern="'image/*'")
        span.upload-box-text(ng-hide="vm.formData.pic") 点击或拖拽上传
        img(ng-src="{{vm.formData.pic | img}}" ng-show="vm.formData.pic")

  .form-group
    label.control-label.col-md-4.required(for="admin_group_id") 管理员类型
    .col-md-4
      select#admin_group_id.form-control(ng-model="vm.formData.admin_group_id" ng-options="i.id as i.label for i in vm.admin_group_list" required)
      span.help-block 目前支持无管理权限、一般管理、总管理三种类型
  
  .form-group
    label#status.control-label.col-md-4.required 状态
    .col-md-4
      .row
        .col-xs-6
          .radio
            label
              input(type="radio" ng-model="vm.formData.status" value="1")
              正常
        .col-xs-6
          .radio
            label
              input(type="radio" ng-model="vm.formData.status" value="0")
              隐藏
      span.help-block 是否禁止用户登录

  .form-group
    .col-sm-offset-4.col-sm-8
      input(type="hidden" ng-model="vm.formData.id")
      button.btn.btn-default(type="button" onclick="javascript:;window.history.go(-1);") 取消
      button.btn.btn-success(type="button" ng-click="vm.save()") 保存
