div(ng-if="!vm.state")
  h2 导入默认药品 <span class="small">临时</span>
  button.btn.btn-default(ng-click="vm.openModal(vm.formData.id)" tooltip="导入药品需要花一点时间，所以只能单个药店导入，请耐心等待" tooltip-placement="right" tooltip-append-to-body="true") 导入
  hr
h2 {{vm.title}}
form.form-horizontal
  .form-group(ng-if="vm.state")
    label.control-label.col-md-4.required(for="mobile") 手机号
    .col-md-4
      input#mobile.form-control(type="text" ng-model="vm.formData.mobile" required placeholder="手机号")
      span.help-block 管理员手机号，必须已经是注册用户
  
  .form-group
    label.control-label.col-md-4.required(for="title") 店名
    .col-md-4
      input#title.form-control(type="text" ng-model="vm.formData.title" placeholder="店名" required)
          
  .form-group
    label.control-label.col-md-4.required(for="type")  微店类型
    .col-md-4
      select#type.form-control(ng-model="vm.formData.type" ng-options="i.id as i.label for i in [{id: 10, label: '药店'},{id: 20, label: '机构'}]")
        option(value="") --微店类型--
          
  .form-group(ng-show="vm.formData.type==20")
    label.control-label.col-md-4.required(for="category") 机构类别
    .col-md-4
      select#category.form-control(ng-model="vm.formData.category" ng-options="i for i in ['推拿','理疗','足疗','医院']")
        option(value="") --选择机构类别--
      span.help-block 若为机构，可选择机构类别

  .form-group
    label.control-label.col-md-4.required(for="logo") 店 Logo
    .col-md-4
      .form-control.upload-box(ngf-select="vm.upload($file, vm.formData, 'pic')" ngf-drop="vm.upload($file, vm.formData, 'pic')" ngf-drag-over-class="'dragover'" ngf-pattern="'image/*'")
        span.upload-box-text(ng-hide="vm.formData.pic") 点击或拖拽上传
        img(ng-src="{{vm.formData.pic | img}}" ng-show="vm.formData.pic")
      
  .form-group(ng-show="vm.formData.type==10")
    label.control-label.col-md-4.required(for="bg") 顶部图片
    .col-md-4
      .form-control.upload-box(ngf-select="vm.upload($file, vm.formData, 'bg')" ngf-drop="vm.upload($file, vm.formData, 'bg')" ngf-drag-over-class="'dragover'" ngf-pattern="'image/*'")
        span.upload-box-text(ng-hide="vm.formData.bg") 点击或拖拽上传
        img(ng-src="{{vm.formData.bg | img}}" ng-show="vm.formData.bg")
      
  .form-group
    label.control-label.col-md-4(for="company") 公司
    .col-md-4
      input#company.form-control(type="text" ng-model="vm.formData.company" placeholder="公司")
      
  .form-group
    label.control-label.col-md-4(for="contact") 联系人
    .col-md-4
      input#contact.form-control(type="text" ng-model="vm.formData.contact" placeholder="联系人")
          
  .form-group
    label.control-label.col-md-4(for="tel") 电话
    .col-md-4
      input#tel.form-control(type="text" ng-model="vm.formData.tel" placeholder="电话")
              
  .form-group
    label.control-label.col-md-4.required(for="is_boss_customer_service") 客服
    .col-md-4
      .row
        .col-xs-6
          .radio
            label
              input(type="radio" ng-model="vm.formData.is_boss_customer_service" value="1")
              span 是
        .col-xs-6
          .radio
            label
              input(type="radio" ng-model="vm.formData.is_boss_customer_service" value="0")
              span 否
      span.help-block 管理员帐号是否作为客服出现

  .form-group
    label.control-label.col-md-4(for="province") 所在省
    .col-md-4
      select#province.form-control(ng-model="vm.formData.province" ng-options="item.name as item.name for item in vm.province_list" ng-change="vm.getCityList()")
        option(value="") 选择省
      //- input#province.form-control.input-cover(type="text" ng-model="vm.formData.province" ng-hide="vm.state || tmpProvince" ng-click="tmpProvince = true" placeholder="选择省")
  
  .form-group
    label.control-label.col-md-4(for="city") 所在市
    .col-md-4
      select#city.form-control(ng-model="vm.formData.city" ng-options="item.name as item.name for item in vm.city_list" ng-change="vm.getCountryList()")
        option(value="") 选择市
      //- input#city.form-control.input-cover(type="text" ng-model="vm.formData.city" ng-hide="vm.state || tmpCity" ng-click="tmpCity = true" placeholder="选择市")
        
  .form-group
    label.control-label.col-md-4(for="county") 所在区/县
    .col-md-4
      select#county.form-control(ng-model="vm.formData.county" ng-options="item.name as item.name for item in vm.country_list")
        option(value="") 选择区/县
      //- input#county.form-control.input-cover(type="text" ng-model="vm.formData.county" ng-hide="vm.state || tmpCountry" ng-click="tmpCountry = true" placeholder="选择区/县")
        
  .form-group
    label.control-label.col-md-4(for="address") 地址
    .col-md-4
      input#address.form-control(type="text" ng-model="vm.formData.address" placeholder="地址")
          
  .form-group
    label.control-label.col-md-4(for="zipcode") 邮编
    .col-md-4
      input#zipcode.form-control(type="text" ng-model="vm.formData.zipcode" placeholder="邮编")

  .form-group
    label.control-label.col-md-4(for="open_time") 营业时间
    .col-md-4
      input#open_time.form-control(type="text" ng-model="vm.formData.open_time" placeholder="营业时间")
      
  .form-group
    label.control-label.col-md-4(for="sale_content") 主营内容
    .col-md-4
      textarea#description.form-control(row="10" ng-model="vm.formData.sale_content" placeholder="主营内容")
        
  .form-group(ng-show="vm.formData.type==10")
    label.control-label.col-md-4(for="service_insurance") 医保支持
    .col-md-4
      .row
        .col-xs-6
          .radio
            label
              input(type="radio" ng-model="vm.formData.service_insurance" value="1")
              支持
        .col-xs-6
          .radio
            label
              input(type="radio" ng-model="vm.formData.service_insurance" value="0")
              不支持
          
  .form-group(ng-show="vm.formData.type==10")
    label.control-label.col-md-4(for="service_chinese_medicine") 中药有售
    .col-md-4
      .row
        .col-xs-6
          .radio
            label
              input(type="radio" ng-model="vm.formData.service_chinese_medicine" value="1")
              支持
        .col-xs-6
          .radio
            label
              input(type="radio" ng-model="vm.formData.service_chinese_medicine" value="0")
              不支持
    
  .form-group(ng-show="vm.formData.type==10")
    label.control-label.col-md-4(for="service_chinese_medicine_agent") 中药代煎
    .col-md-4
      .row
        .col-xs-6
          .radio
            label
              input(type="radio" ng-model="vm.formData.service_chinese_medicine_agent" value="1")
              支持
        .col-xs-6
          .radio
            label
              input(type="radio" ng-model="vm.formData.service_chinese_medicine_agent" value="0")
              不支持
    
  .form-group
    label.control-label.col-md-4(for="description") 简介
    .col-md-4
      textarea#description.form-control(row="10" ng-model="vm.formData.description" placeholder="简介")
      
  .form-group(ng-show="vm.formData.type==10")
    label.control-label.col-md-4.required(for="template_id") 店铺模板
    .col-md-4
      select#template_id.form-control(ng-model="vm.formData.template_id" ng-options="i.id as i.label for i in [{label: '默认模板', id: 0},{label: '模板1', id: 1},{label: '模板2', id: 2},{label: '模板3', id: 3}]")
        option(value="") 请选择药店模版
      span.help-block 药店模板
      //- 点击此处预览模板
  
  .form-group
    label.control-label.col-md-4(for="chain") 是否连锁
    .col-md-4
      .row
        .col-xs-6
          .radio
            label
              input(type="radio" ng-model="vm.formData.chain" value="1")
              连锁
        .col-xs-6
          .radio
            label
              input(type="radio" ng-model="vm.formData.chain" value="0")
              单店
          
  .form-group
    label.control-label.col-md-4(for="parent") 总店ID
    .col-md-4
      input#parent.form-control(type="text" ng-model="vm.formData.parent" placeholder="总店ID")
      span.help-block 如果为连锁店：总店此值保持0，子店请填写总店ID
    
  .form-group
    label.control-label.col-md-4(for="agent_id") 代理商
    .col-md-4
      input#agent_id.form-control(type="text" ng-model="vm.formData.agent_id" placeholder="代理商")
      span.help-block 代理商，暂为0
      
  .form-group
    label.control-label.col-md-4(for="order_id") 排序ID
    .col-md-4
      input#order_id.form-control(type="text" ng-model="vm.formData.order_id" placeholder="排序ID")
      span.help-block 从大到小排
      
  .form-group(ng-show="vm.formData.type==10")
    label.control-label.col-md-4(for="deposit") 保证金余额
    .col-md-4
      input#deposit.form-control(type="text" ng-model="vm.formData.deposit" placeholder="保证金余额")
      
  .form-group
    label.control-label.col-md-4.required(for="status") 状态
    .col-md-4
      .row
        .col-xs-6
          .radio
            label
              input(type="radio" ng-model="vm.formData.status" value="1")
              正常
        .col-xs-6
          .radio
            label
              input(type="radio" ng-model="vm.formData.status" value="0")
              禁用
      span.help-block 是否启用
      
  //- .form-group
  //-   label#status.control-label.col-md-4.required 地图
  //-   .col-md-4
  //-     #map
  //-     span.help-block 点击地图上的点，自动获取经纬度
  //- 
  //- .form-group
  //-   label#keyword.control-label.col-md-4 搜索地点
  //-   .col-md-4
  //-     input#keyword.form-control(type="text" ng-model="keyword")
  //-     buttonb.btn.btn-default(type="button" ng-click="vm.locationSearch()") 搜索
  //-     span.help-block 在地图上搜索地点、药店名称或标志性地点
      
  .form-group
    label.control-label.col-md-4(for="lon") 经纬度
    .col-md-4
      .row
        .col-xs-6
          input#lon.form-control(type="text" ng-model="vm.formData.lon" placeholder="经度" ng-change="vm.setLonAndLat(vm.formData.lon)")
        .col-xs-6
          input#lat.form-control(type="text" ng-model="vm.formData.lat" placeholder="纬度")
      span.help-block
        a(href="http://api.map.baidu.com/lbsapi/getpoint/" target="_blank") 点击这里获取经纬度
    
      
  .form-group
    .col-sm-offset-4.col-sm-8
      input(type="hidden" ng-model="vm.formData.id")
      button.btn.btn-default(type="button" onclick="javascript:;window.history.go(-1);") 取消
      button.btn.btn-success(type="button" ng-click="vm.save()") 保存
  
script(type="text/ng-template" id="modal.html")
  .modal-header
    button.close(type="button" ng-click="cancel()"): span &times;
    h4.modal-title {{title}}
  .modal-body
    grid(grid="grid")
