.upload-box
  height 100px
  border dashed 2px #aaa
  color #666
  text-align center
  &.dragover
    border-style solid

  img
    max-width 100%
    max-height 100%

  .upload-box-text
    display inline-block
    margin-top 30px
