h2 {{vm.title}}
form.form-horizontal
  .form-group
    label.control-label.col-md-4.required(for="title") 分类名称
    .col-md-4
      input#title.form-control(type="text" ng-model="vm.formData.title" placeholder="分类名称" required)
    
  .form-group
    label.control-label.col-md-4.required(for="parent") 上级分类
    .col-md-4
      select#parent.form-control(ng-model="vm.formData.parent" ng-options="i.id as i.label for i in vm.typeList")
        option(value="") --选择上级分类--

  .form-group
    label.control-label.col-md-4.required(for="order_id") 排序ID
    .col-md-4
      input#order_id.form-control(type="text" ng-model="vm.formData.order_id" required)
      span.help-block 从大到小排
  
  .form-group
    .col-sm-offset-4.col-sm-8
      input(type="hidden" ng-model="vm.formData.id")
      button.btn.btn-default(type="button" onclick="javascript:;window.history.go(-1);") 取消
      button.btn.btn-success(type="button" ng-click="vm.save()") 保存
